---
layout: raw
title: ProLabPrints.com
description: ProLabPrints.com ROES Ordering System
active: yes
---
<section class="section-alt">
  <div class="container text-center">
    <h1>Welcome to our ROES Ordering System</h1>
<p class="lead">
 What would you like to order? Choose one of the options below.
   </p>
</div>
</section>

<section class="section-main">
  <div class="container">
  <div class="text-center">
  {% if site.message %}
  <blockquote class="blockquote-info">
   <h4>{{site.message.title}}</h4>
   <p>{{site.message.content}}</p>
   </blockquote>
  {% endif %}
  </div>
   <!-- hard coded the top two that are larger, could easily use the data file with another variable but this was easier-->
     <div class="service-flexrow">  
       <div class="service-flexitem-wide">
               <a href="roes://pro-luster-pro-pricing/pro-luster/pro-luster-info">
               <img alt="" src="https://unsplash.it/random/616/168?sig=123" class="img-responsive-hm">
                     </a>
                <div class="service-text">
               <a class="servicea" href="roes://pro-luster-pro-pricing/pro-luster/pro-luster-info"><h3 class="serviceh2">Pro Pricing Pro Luster Prints</h3></a>
               <p>Your images are printed as is, no color correction, best price</p>  
              </div>
              </div>
        <div class="service-flexitem-wide">
               <a href="roes://pro-luster-full-service/pro-luster-fs/pro-luster-info-fs">
               <img alt="" src="https://unsplash.it/random/616/168?sig=124" class="img-responsive-hm">
               </a>
                <div class="service-text">
               <a class="servicea" href="roes://pro-luster-full-service/pro-luster-fs/pro-luster-info-fs"><h3 class="serviceh2">Full Service Pro Luster Prints</h3></a>
               <p>Your images are individually color corrected (recommended)</p>  
              </div>
              </div>
        
          <!-- display producst with icons -->
            {% for products in site.data.products %} 
          {% if products.icon %}
              <div class="service-flexitem">
               <a href="{{products.url}}">
               <img alt="{{products.title}}" src="{{products.icon}}" class="img-responsive-hm">
              
               </a>
                <div class="service-text">
               <a class="servicea" href="{{products.url}}"><h3 class="serviceh2">{{products.title}}</h3></a>
               <p>{{products.description}}</p>  
              </div>
              </div>
          {% endif %}
          {% endfor %}
       <!-- you can also have items with no image -->
         {% for products2 in site.data.products %} 
          {% unless products2.icon %}
              <div class="service-flexitem">
               <div class="service-text">
               <a class="servicea" href="{{products2.url}}"><h3 class="serviceh2">{{products2.title}}</h3></a>
               <p>{{products2.description}}</p>  
              </div>
              </div>
          {% endunless %}
          {% endfor %}
        </div>
    <hr/>
    <h3>Need Help Ordering?</h3>
    <p>Please watch the Roes Intro Video below. If you are still having trouble please
      don't hesitate to give us a call - (619) 287-5346 - we are always happy to give you a hand.</p>
    <h3 class="vid-title"><a href="https://prolabprints.com/videos/roes-intro-video/" target="_blank">ROES Intro Video</a></h3>
    <p>This is a short video going over the basics of our ROES Ordering System.</p>
    <hr/>
    <h3>Notes, Tips and Misc Info</h3>
    <ul>
      <li>We do not have a minimum order, but orders under $7 will be charged a $1.00 fee (does not apply to orders being shipped).</li>
      <li>Our products are divided into Product Catalogs - one for each of our main paper types and services. You cannot order 
        from more than one catalog in the same order.</li>
      <li>Our pricing for Pro Luster/Glossy/Pearl prints is quantity based with breaks for over 10, 100 and over 300 prints of the 
        same size. It does not matter if you order the same image or different images, as long as they are the same size print you 
        will get the quantity price for the total number of prints.</li>
      <li>Our normal turnaround time is 24 hours on standard prints and press products, 2-3 days for metal or tile and 3-4 
        days for canvas wraps.</li>
      <li>ROES will only accept jpg, tif and png files - if you need to send something else use the Simple Order System on our website.</li>
      <li>File names should not contain anything other than letters, numbers, dashes or underscores. Special characters like #, ' ? or $ will 
        cause problems when we process your order.</li>
      <li>Your images MUST be RGB and not CMYK!</li>
      <li>Images that are B&W should still be RGB and not grayscale.</li>
      </ul>
  </div>
</section>
