$main_font_family:  arial, sans serif;

$main_font-size: 15px;
$mobile-font-size: 16px;

$body-font-color: #373a3c;

$nav-desktop-color: #E07839;
$nav-mobile-btn-color:#E07839;

$heading-font-family: arial, sans serif;
$heading-default-color: #292929;
$heading-h1-color: #3184c1;;
$heading-h2-color: #E07839;
$heading-h3-color: #404040;

$link-color: #428bca;
$link-border-bottom: 1px dotted #909090;
$link-border-bottom-hover:none;
$link-text-decoration: none;
$link-text-decoration-hover: none;

$alt-background-color:#f9f9f9;
$alt-background-border:1px solid #e2e2e2;

$btn-primary-color: #E07839;
$btn-primary-color-hover: #e07839;
